@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-image: url('../public/images/bg-stars.svg');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 
.flip-clock-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  line-height: 0;
}

.digit::before,
.digit::after,
.card-face-front,
.card-face-back {
  background: white;
  color: black;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    z-index: 10;
  }
  50% {
    transform: rotateX(90deg);
    z-index: 0;
  }
  100% {
    transform: rotateX(0);
    z-index: 10;
  }
}

.animate-flip {
  animation: flip 0.7s ease-in-out forwards;
}

.backface-hidden {
  backface-visibility: hidden;
} */



html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


.flip-clock-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  line-height: 0;
}

.flip-clock-container * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  cursor: default;
}

.flip-clock {
  display: flex;

  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

.digit {
  position: relative;

  width: 45px;
  height: 80px;

  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

.digit-left {
  margin-right: 12px;
}

.digit-right {
  margin-left: 12px;
}

.digit::before,
.digit::after {
  position: absolute;
  z-index: 0;

  display: flex;
  justify-content: center;

  width: 150%;
  height: 50%;
  overflow: hidden;
}

.digit::before {
  content: attr(data-digit-before);

  bottom: 0;
  align-items: flex-start;
}

.digit::after {
  content: attr(data-digit-after);

  top: 0;
  align-items: flex-end;
}

.card {
  position: relative;
  z-index: 1;

  width: 150%;
  height: 50%;
  background-color: black;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  transform-origin: bottom;

  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  transform: rotateX(0);

  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
}

.card.flipped {
  transform: rotateX(-180deg);
}

.card-face {
  position: absolute;

  display: flex;
  justify-content: center;
   
  width: 100%;
  height: 100%;
  overflow: hidden;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-face-front {
  align-items: flex-end;
  
}

.card-face-back {
  align-items: flex-start;

  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.digit::before,
.digit::after,
.card-face-front,
.card-face-back {
  background: white;
  color: black;
}

.digit,
.digit::before,
.digit::after,
.card,
.card-face {
  border-radius: 4px;
}

.digit::before,
.card-face-back {
  background: linear-gradient(0, hsl(235, 16%, 14%), hsl(235, 16%, 14%) 50%, hsl(237, 18%, 59%)); 
  color: hsl(345, 95%, 68%);

  border-top: 1px solid hsl(236, 21%, 26%);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.digit::after,
.card-face-front {
  background: linear-gradient(0, hsl(235, 16%, 14%) 80%, hsl(235, 16%, 14%) 50%, hsl(235, 16%, 14%));
  color: hsl(345, 95%, 68%);

  border-bottom: 1px solid hsl(236, 21%, 26%) ;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.digit-left,
.digit-left::before,
.digit-left::after,
.digit-left .card,
.digit-left .card-face {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.digit-right,
.digit-right::before,
.digit-right::after,
.digit-right .card,
.digit-right .card-face {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.colon {
  color: hsl(0, 0%, 100%);
  margin: 0 35px;
  padding-bottom: 9px;
}

/* 
.flip-card {
  perspective: 1000px;
} */
/* 
.flip-card-inner {
  transform-style: preserve-3d;
  transition: transform 0.6s;
  animation: flipDown 0.6s ease-in-out;
}

.flip-card-front, .flip-card-back {
  backface-visibility: hidden;
}

.flip-card-front {
  transform: rotateX(0deg);
}

.flip-card-back {
  transform: rotateX(-180deg);
  position: absolute;
  top: 0;
  left: 0;
} */

/* flip trial */




/* 

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: 3rem;
  line-height: 8;
  padding: 4rem;
  width: 5rem;
  overflow: hidden;
} 
 
.top, .bottom {  
  font-size: 20px;
}

.top,
.flip-card .top-flip {
  background-color: hsl(236, 21%, 26%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
 
.bottom,
.flip-card .bottom-flip {
  background-color: hsl(236, 21%, 26%);
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.container {
  display: flex;
  gap: .5em;
  justify-content: center;
}

.container-segment {
  display: flex;
  flex-direction: column;
  gap: .1em;
  align-items: center;
}

.segment {
  display: flex;
  gap: .1em;
}

.segment-title {
  font-size: 1rem;
}  */

/* 

.top, .bottom {
  backface-visibility: hidden;
}

.top {
  transform-origin: top;
}

.bottom {
  transform-origin: bottom;
}
 */
